services:
  postgresql_db:
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    image: postgres:15.2-alpine
    restart: always
    volumes:
      - ./database/cache/postgres-data/data:/var/lib/postgresql/data
      - ./backend/database/postgresql/migrations.sql:/docker-entrypoint-initdb.d/create_tables.sql
    networks:
      - zis
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d postgres -d postgres"]
        interval: 10s
        timeout: 5s
        retries: 5

  backend:
    container_name: backend
    ports:
      - 8080:8080
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    links:
      - "postgresql_db:postgresql_db"
    networks:
      - zis
    healthcheck:
        test: ["CMD-SHELL", "curl", "-f", "http://localhost:8080/status"]
        interval: 10s
        timeout: 5s
        retries: 5
    depends_on: 
      postgresql_db:
        condition: service_healthy
      frontend:
        condition: service_started

  frontend:
    container_name: frontend
    ports:
      - 3000:3000
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    depends_on: 
      postgresql_db:
        condition: service_healthy

networks:
  zis:
    name: zis_default
    driver: bridge